@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  user-select: none;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background-color: rgb(183, 199, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  width: 40rem;
  background: rgb(183, 199, 245);
  box-shadow: 0 0 32px #b1b1b1;
  padding: 2.5rem 3.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2.4rem;
  transform: translateY(-500rem);
  transition: transform 1s ease;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.auto-box {
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
  font-size: 16px;
  color: #333;
  margin: 0;
  margin-top: -6px;
  list-style: none;
  position: absolute;
  top: 102%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1 !important;
  pointer-events: all !important;
}

input {
  height: 4.2rem;
  width: 88.5%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 1rem;
  padding-left: 1.5rem;
  font-size: 16px;
  color: #333;
  margin-right: 2px;
}

input::-webkit-search-cancel-button {
  display: none;
}

.search-icon {
  height: 4.2rem;
  width: 4.2rem;
  position: absolute;
  padding: 1rem;
  top: 0;
  right: 0;
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  cursor: pointer;
}

li {
  padding: 6px;
}

li:hover {
  background-color: #eee;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-icon {
  height: 18rem;
  width: 18rem;
  margin-top: 1.8rem;
  transform: translateY(1000rem);
  transition: transform 1.2s ease;
}

h1 {
  font-size: 4.8rem;
  font-weight: 400;
  color: #4169e1;
}

h2 {
  font-weight: 500;
  font-size: 2.4rem;
  color: royalblue;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 800rem;
  margin-top: 4.8rem;
  transition: all 1.5s ease;
}

.detail {
  height: 3.2rem;
  width: 3.2rem;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

div p {
  color: royalblue;
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width: 440px) {
  html {
    font-size: 50%;
  }
}

.move::placeholder {
  color: red;
}

.loader {
  height: 42px;
  width: 42px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: royalblue;
  animation: rotate 1s infinite;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
